.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
jQuery.pointTo.iml
.idea/dictionaries/y12252.xml
.idea/jsLibraryMappings.xml
.idea/libraries/jQuery_3_3_1.xml
